html {
	background-color: #FCFCFC;
	overflow-y: scroll;
	font-family: arial, sans-serif;
	font-size: 15px;
	color: #151B1B;
	margin-left: auto;
	margin-right: auto;
}

body {
	padding: 15px 15px 0 15px;
	margin-bottom: 0px;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.main-cell {
	background-color: #F0F0F0;
	padding: 0px 20px 10px 20px;
}

.ui-button {
	border: 1px solid #BBBBBB;
	padding: 5px;
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 );
}

.ui-button:hover {
	border: 1px solid #BBBBBB;
	padding: 5px;
	cursor: pointer;
	background: #e5e5e5;
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f9f9f9));
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%);
	background: -o-linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%);
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom,  #e5e5e5 0%,#f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f9f9f9',GradientType=0 );
}

#result {
	margin-top: 20px;
}

.success {
	color: #1D8728;
}

.label-cell {
	padding-right: 15px;
	padding-bottom: 10px;
}